@import "fonts/css/ibm-plex.min.css";
html {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f9f8f7;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
header {
  margin-bottom: 5rem;
  padding: 20vh 10%;
  border-bottom: 1px solid #e3dfda;
}
header h1,
header p {
  display: inline-block;
  padding: 10px 1.2rem;
}
header h1 {
  font-size: 6rem;
}
header p {
  font-size: 32px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 900;
  background-color: #ffc400;
}
h1 {
  padding: 10px 20px;
  font-family: 'IBM Plex Serif', serif;
  background-color: black;
  color: #f9f8f7;
  font-weight: 100;
  display: inline-block;
}
h1:not(header h1) {
  font-size: 64px;
  margin-bottom: 18px;
}
h2 {
  font-size: 48px;
  margin-bottom: 18px;
}
h3 {
  font-size: 36px;
  margin-bottom: 18px;
}
section {
  margin: 5rem 0;
  font-size: 24px;
}
footer {
  margin-top: 5rem;
  padding: 20vh 10%;
  border-top: 1px solid #e3dfda;
}
footer ul li {
  display: inline-block;
}
ul {
  width: fit-content;
}
ul li {
  background-color: #e3dfda;
}
ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 10px 0 0;
  cursor: pointer;
}
ul li a::before {
  display: inline-block;
  padding: 10px 10px;
  margin-right: 10px;
  content: 'Disabled';
  color: black;
  background-color: #dfd9d4;
}
ul li a[href] {
  padding: 10px;
  color: inherit;
}
ul li a[href]::before {
  display: none;
}
ul li a[css-prefix] {
  padding: 0 10px 0 0;
}
ul li a[css-prefix]::before {
  display: inline-block;
  padding: 10px 10px;
  margin-right: 10px;
  content: attr(css-prefix);
  color: black;
  background-color: #ffc400;
}
ul li a[href]:hover {
  background-color: #d8d2cb;
}
body {
  min-height: 100vh;
}
main {
  width: 80%;
  margin: auto;
}
